.col-md-12
{
    height:135px;    
}
#top
{
    position:fixed;
    z-index:1;

}
.head1
{
    color:rgb(36, 36, 144);;
    margin-top: 5px;
    font-size: 50px;
}
#head3
{
    text-align: center; 
    color:rgb(36, 36, 144);
    font-size: 45px;
}
#head2
{
    text-align: center; 
    color:rgb(36, 36, 144);
    font-size: 45px;
}

#but1
{
     background-color:rgb(36, 36, 144);
     color:white;
}
*
{
    font-family:"Merriweather";
}
#back2Top {
    width: 40px;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: fixed;
    bottom: 50px;
    right: 0;
    background-color: #DDD;
    color: #555;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
}
#back2Top:hover {
    background-color: #DDF;
    color: #000;
}
.mapouter
{position:relative;
text-align:right;
height:476px;
width:1080px;
}
.gmap_canvas {
overflow:hidden;
background:none!important;
height:476px;
width:1080px;
}
.img1
{
    border-radius: 50%;
    position:relative;
    top:-40px;
    margin-left:-35px;

}
#u
{
    margin-top:140px;
}

.navbar
{
   position:relative;
   top:-135px;
   left:40px;
   margin-left:50px;
   z-index:1;
}
.nav-link
{
    font-size:22px;
}
.navbar-toggler
{
    border-color: lightgreen;
}
.d-block
{
    height:500px;
}
#first
{
position: relative;
top:400px;
}
#car
{
    background-color: rgba(0, 0, 0, 0.144);
    border-radius: 50%;
    height:40px;
    width:40px;
    color:rgb(83, 80, 80);
}
.dropdown-menu >.dropdown-item:hover
{
background-color: rgb(36, 36, 144);
color:white;
}
.nav-item >.nav-link
{
    background-color: rgb(36, 36, 144);
    border-radius: 20px;
    
}
.navbar-txt
{
    color:white;
}
#circle i
{
    background-color: rgb(36, 36, 144);
    border-radius: 50%;
    border: 1x solid grey;
    padding:10px;
    color:white;
}
@media only screen and (max-width: 768px)
{
    .mapouter
{
position:relative;
text-align:right;
height:300px;
width:100px;
}
.gmap_canvas {
overflow:hidden;
background:none!important;
height:300px;
width:100x;
}

    #car
{
    background-color: rgba(0, 0, 0, 0.144);
    border-radius: 50%;
    height:20px;
    width:20px;
    color:rgb(83, 80, 80);
}
    .d-block{
        height:200px;
    }
    .navbar
    {
        border-radius:10%;
    }
    .head1{
        font-size:35px;
    }
    #first
{
position: relative;
top:100px;
}
#second
{
    margin-top:20px;
}
.nav-item >.nav-link
{
    background-color: #f8f9fa;
    border-radius: 20px;
    
}
.navbar-txt
{
    color:black;
}
}

@media only screen and (max-width: 411px)
{
    .head1
    {
        font-size: 16px;
    }
   
    #head3
    {
      font-size: 23px;
    }
    #head2
    {
        font-size: 20px;
    }

}